<div class="card">
    <div class="card-header" id="heading1">
        <h2 class="mb-0">
            <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse1">
              First example question: what are the boundaries of the femoral triangle? <underline><strong>Show answer</strong></underline>
            </button>
        </h2>
    </div>
    <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#scenario-accordion">
        <div class="card-body">
            <p>Quisque nec elit vestibulum, blandit felis a, vehicula erat. Nunc nec tellus sit amet lacus gravida hendrerit ac a ipsum. Integer hendrerit vehicula tortor eget rhoncus. Proin et ipsum in arcu ultrices facilisis sed non elit. Sed a vulputate enim, ut tempor turpis. Ut vehicula nisl vitae lacus scelerisque hendrerit. Vivamus non molestie enim, eu rhoncus turpis.</p>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" id="heading2">
        <h2 class="mb-0">
            <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse2">
              Second example question: how would you approach this scenario? <underline><strong>Show answer</strong></underline>
            </button>
        </h2>
    </div>
    <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#scenario-accordion">
        <div class="card-body">
            <p>Quisque nec elit vestibulum, blandit felis a, vehicula erat. Nunc nec tellus sit amet lacus gravida hendrerit ac a ipsum. Integer hendrerit vehicula tortor eget rhoncus. Proin et ipsum in arcu ultrices facilisis sed non elit. Sed a vulputate enim, ut tempor turpis. Ut vehicula nisl vitae lacus scelerisque hendrerit. Vivamus non molestie enim, eu rhoncus turpis.</p>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" id="heading3">
        <h2 class="mb-0">
            <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse3">
              Third example question: who would you escalate this problem to? <underline><strong>Show answer</strong></underline>
            </button>
        </h2>
    </div>
    <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#scenario-accordion">
        <div class="card-body">
            <p>Quisque nec elit vestibulum, blandit felis a, vehicula erat. Nunc nec tellus sit amet lacus gravida hendrerit ac a ipsum. Integer hendrerit vehicula tortor eget rhoncus. Proin et ipsum in arcu ultrices facilisis sed non elit. Sed a vulputate enim, ut tempor turpis. Ut vehicula nisl vitae lacus scelerisque hendrerit. Vivamus non molestie enim, eu rhoncus turpis.</p>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header" id="heading4">
        <h2 class="mb-0">
            <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse4">
              Fourth example question: how would you manage this patient with traumatic head injury? <underline><strong>Show answer</strong></underline>
            </button>
        </h2>
    </div>
    <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#scenario-accordion">
        <div class="card-body">
            <p>Quisque nec elit vestibulum, blandit felis a, vehicula erat. Nunc nec tellus sit amet lacus gravida hendrerit ac a ipsum. Integer hendrerit vehicula tortor eget rhoncus. Proin et ipsum in arcu ultrices facilisis sed non elit. Sed a vulputate enim, ut tempor turpis. Ut vehicula nisl vitae lacus scelerisque hendrerit. Vivamus non molestie enim, eu rhoncus turpis.</p>
        </div>
    </div>
</div>
