<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% @station_categories.each do |station_category| %>
        <p><%= station_category.name %> <strong>belongs to: </strong><%= station_category.course.title if station_category.course %></p>
      <% end %>
    </div>
  </div>
</div>
