<div class="jumbotron">
  <div class="row row-eq-height">
    <div class="col-md-12 hero-left text-center">
      <h1 class="display-4">Interview? Ready.</h1>
      <p class='lead'>UK Core and Specialty interview courses for doctors in training.</p>
      <div class='pt-4'>
        <%= link_to "Find your course", courses_path, class: "btn btn-lg btn-primary" %>
      </div>
    </div>
  </div>
</div>

<div class="welcome-section" id="course-scroll-target"> <!-- data-aos="fade-up" -->
  <div class="container">
    <div class="row">
      <div class='col-sm-12 text-center'>
        <h2>Courses</h2>
      </div>
    </div>
      <% i = 1 %>
      <% @courses.each do |course| %>
        <%= "<div class='row course-card-row'>".html_safe if (i % 4 - 1 == 0) %>
          <div class="col-lg-3">
            <%= render "courses/course_card", obj: course %>
          </div>
          <% if (i % 4 == 0) || course.id == Course.last.id %>
            <%= "</div><!-- close row -->".html_safe  %>
          <% end %>
        <% i += 1 %>
      <% end %>
  </div>
</div>

<!-- <div class="welcome-section" data-aos="fade-up">
  <div class="container">
    <div class="row px-5">
      <div class='col-sm-4 align-self-center'>
        <h2 class=''>Testimonials from previous students</h2>
      </div>
      <div class='col-sm-8 text-center'>
        <p class='lead'>"Lorem ipsum dolor sit amet, Morbi malesuada lacus diam, nec dictum purus congue eu. Integer consequat erat mauris, in tincidunt purus vulputate quis. Vivamus dapibus odio nec magna euismod mollis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam feugiat metus eros, vel pretium dui ultricies ut. Vestibulum fringilla eros id neque luctus consequat. Integer non fringilla mi.""</p>
      </div>
    </div>
  </div>
</div> -->
