<%= @session.id %>

<button class="btn btn-primary" id="pay-button" onclick="myFunction();">Pay</button>

<script>
function myFunction() {
  var stripe = Stripe("<%= Rails.application.credentials.stripe[:development][:publishable_key]%>");
  var session_id = "<%= @session.id %>";

    stripe.redirectToCheckout ({
      sessionId: session_id
      }).then(function (result) {
  })
}
</script>
