<%= @session.id %>

<button class="btn btn-primary" id="pay-button" onclick="myFunction();">Pay</button>

<script>
function myFunction() {
  var stripe = Stripe('pk_test_qfH2BOWhxkEXfcL99c6RhRR300QJqMIBMZ');
  var session_id = "<%= @session.id %>";

    stripe.redirectToCheckout ({
      sessionId: session_id
      }).then(function (result) {
  })
}
</script>
