<script src="https://js.stripe.com/v3/"></script>

<div class="row"><div class="col-sm-12 text-center"><h2>Redirecting...</h2></div></div>

<script>
function myFunction() {
  var stripe = Stripe("<%= Rails.configuration.stripe[:publishable_key] %>");
  var session_id = "<%= @session.id %>";

    stripe.redirectToCheckout ({
      sessionId: session_id
      }).then(function (result) {
  })
}

document.addEventListener("DOMContentLoaded", myFunction());

</script>
