<div class='text-right'>
  <%= link_to 'Create a category for this course', new_station_category_path(:course_id => @course.id), class: "btn btn-outline-primary mb-3" %>
  <button type="button" class="btn btn-outline-primary dropdown-toggle mb-3" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Create station for..<span class="caret"></span>
  </button>
  <div class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuButton">
    <% @course.station_categories.each do |sc| %>
    <%= link_to sc.name, new_station_path(:course_id => @course.id, :station_category_id => sc.id), class: "dropdown-item" %>
    <% end %>
  </div>
</div>
