<div class="row">
  <div class="col-sm-12">
    <ul class="list-group">
      <li class="list-group-item"><%= @course.description %></li>
      <li class="list-group-item"><strong>Price:</strong> <%= "£" + "#{@course.price}" %></li>
    </ul>
  </div>
</div>
<div class='row mt-3'>
  <div class='col-sm-12'>
    <%= link_to "Sign up for this course", payments_path(course: @course), :method => :post %>
  </div>
</div>
