<div class="row">
  <div class="col-sm-12">
    <ul class="list-group">
      <li class="list-group-item"><%= @course.description %></li>
      <li class="list-group-item"><strong>Price:</strong> <%= "£" + "#{@course.price}" %></li>
    </ul>
  </div>
</div>
<div class='row mt-3'>
  <div class='col-sm-12'>
    <button type="button" class="btn btn-primary" id="pay-button" onclick="myFunction();">Sign up for £<%= @course.price %></button>
  </div>
</div>
