<div class='container'>
  <div class='row pt-3'>
    <div class='col-md-12'>
      <% i = 1 %>
      <% @courses.each do |course| %>
        <%= "<div class='row course-card-row'>".html_safe if (i % 4 - 1 == 0) %>
          <div class="col-lg-3">
            <%= render "course_card", obj: course %>
          </div>
        <%= "</div><!-- close row -->".html_safe if (i % 4 == 0) %>
        <% i += 1 %>
      <% end %>
    </div>
  </div>
</div>
