<div class="row">
  <div class="col-md">
    <ul class="list-group">
      <% @courses.each do |course| %>
      <li class="list-group-item">
        <%= link_to course.title, course_path(course) %>
        <span class="float-right button-group">
          <%= link_to_if(current_user.admin?, 'Edit', edit_course_path(course), class: "btn btn-sm btn-primary"){} %>
          <%= link_to_if(current_user.admin?, 'Delete', course_path(course), method: :delete, class: "btn btn-sm btn-danger" ){} %>
        </span>
       </li>
      <% end %>
    </ul>
  </div>
</div>
