/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import url(https://use.fontawesome.com/releases/v5.0.10/css/all.css);
@import url(https://fonts.googleapis.com/css?family=Lato:200,300,400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:200,300,400,700);
@import url(https://use.typekit.net/sqd2nji.css);
$font-family-base:Lato;
$headings-font-family:houschka-rounded;
$enable-rounded: true;
$theme-colors: (
  "primary": #EF476F,
  "danger": #EF476F
);
/*
#3A405A - nice dark blue (with green primary)
#00B894 - original green primary
#FED766 - really nice yellowy orange
https://coolors.co/export/copic/00b894-26547c-ef476f-ffd166-fffcf9
*/

@import "bootstrap";

body {
  background-color: #F7FCFF;
  padding-top: 70px;
}

#main-nav-bar {
  #main-logo {
    height: 2em;
  }
}

#navbarSupportedContent .navbar-nav {
  text-align: right;
}

.welcome-messages-container {
  background-color: #26547C;
}

.container {
  padding-top: 30px;
}

nav {
  .container {
    padding-top: 0;
  }
}

.jumbotron {
  color: #FFF;
  padding-top: 1.2em;
  border-radius: 0;
  background: #26547C;
  margin-bottom: 3em;
  padding-bottom: 3.4em;

  .display-4 {
    font-weight: 700;
    font-size: 3em;
    letter-spacing: -0.5px;
  }

  a.btn {
    font-weight: bold;
    border-radius: 3em;
  }

  .carousel-container {
    padding-top: 1.5em;
  }

  #carousel-main {
    width: 100%;
    //border-bottom: 4px solid #EF476F;
    background: #204566;
    padding-top: 1em;
    padding-bottom: 0.2em;
    border-radius: 3em;

    .carousel-header {
      a {
        color: #FFF;
        font-weight: bold;
        background: #204566;
      }
      a:hover {
        text-decoration: none;
        color: #EF476F;
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .carousel-container .text-right, .carousel-container .text-right h2 {
    text-align: center !important;
    font-size: 20pt;
  }

  #carousel-main .carousel-header {
    font-size: 20pt;
  }
}

.welcome-section {
  .container {
    padding: 4em 3em;
  }

  h2 {
    min-height: 50px;
    font-weight: bold;
    color: #26547C;
  }
}

footer {
  .container {
    .footer-link {
      padding: 0 10px;
      font-weight: bold;
    }

    .footer-link-left {
      padding: 0 10px 0 20px;
      font-weight: bold;
    }
  }
}

#main-nav-bar {
  background-color: #26547C;
  padding: 1.4em 2.2em;
}

#main-nav-bar {
  .navbar-brand {
    font-weight: bold;
    color: #FFF;
    font-size: 1.4em;
  }
  .navbar-collapse {
    ul.navbar-nav {
      .nav-item {
        a {
          font-weight: bold;
          color: #FFF;
          font-size: 1.1em;
        }
        a:hover {
          color: #EF476F;
        }
      }
    }
  }
}

.card.course-card {
  border: 1px solid #E1E5E8;

  h5.card-header {
    font-weight: bold;
    font-size: 1.2em;
    background: none;
    border-bottom: none;
    padding-bottom: 0;

    .badge {
      position: absolute;
      top: -10px;
      right: -10px;
    }
  }

  .card-body {
    padding: 1em 1.2em;

    p.card-body {
      padding: none;
    }
  }

  .card-footer {
    background: none;
    border: none;
  }
}

.card.course-card:hover {
  border: 1px solid #EF8FA6;
  box-shadow: none;
}

.course-card-row {
  padding-top: 1em;
}

@include media-breakpoint-between(xs, m) {
  .col-sm-3, .col-md-3, .col-lg-3 {
    padding-bottom: 10px;
  }
  .course-card-row {
    padding-top: 0;
  }
}

.svg-wrapper {
  #svg-chart, #svg-academic, #svg-tablet {
    width: 6em;
    stroke: #26547C;
  }
}

.icon-bar {
	width: 22px;
	height: 2px;
	background-color: #FFF;
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}

.navbar-toggler {
  border: none;
  background: transparent !important;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

.course-header {
  background: #EBEFF3;
  margin-top: -14px;
  padding: 1.5em 2em;
  color: #26547C;

  .container {
    padding-top: 0;
  }

  h4 {
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
}

/* Course show below */

.course-show {
  .list-group {
    .station-header {
      transition: all 500ms cubic-bezier(0.55, 0, 0.1, 1);
    }

    .station-header:hover {
      background: #EBEFF3;
      transition: all 500ms cubic-bezier(0.55, 0, 0.1, 1);
    }

    .list-group-item {
      border: 1px solid #EBEFF3;
      font-size: 14pt;
      padding: 0.6em 1.4em;
      a {
        color: #26547C;
      }
    }
    .station-category-header {
      background: #26547C;
      color: #EBEFF3;
      padding: 0.6em 1em;
      border: none;
    }
  }
}

.course-tags {
  font-size: 1.4em;
  .badge-warning {
    background: #26547C;
    color: #FFF;
  }
}

.admin {
  .btn {
    width: 100%;
  }
}

/* Course show end */

/* Scenario show below */

#scenario-accordion {
  #scenario-card {
    background: #FFF;
    color: #26547C;
    font-size: 0.8em;
    border-bottom: none;

    .card-header {
      background: #26547C;
      color: #EBEFF3;
      padding: 0.6em 1em;
      font-size: 14pt;
      border: none;
    }
    .card-body {
      padding: 1.4em;
      font-size: 14pt;
    }
  }

    .card {
      border: none;

      .card-header {
      padding: 0.5em;
      color: #26547C;
      background: #EBEFF3;
      border-top: 1px solid #E1E5E8;
      border-bottom: none;

      .btn {
        font-size: 12pt;
        }
      }

      .card-body {
        padding: 1.4em;
        color: #26547C;

        p {
          margin: 0;
        }
      }
    }
}

.back-next {
  margin-bottom: -10px;
  margin-top: 5px;
}

.alert {
  border: none;
  border-radius: none;
  margin-bottom: -20px;
  margin-top: 16px;
}
