/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import url(https://use.fontawesome.com/releases/v5.0.10/css/all.css);
@import url(https://fonts.googleapis.com/css?family=Lato:200,300,400,700);
@import url(https://use.typekit.net/sqd2nji.css);
$font-family-base:Nunito;
$headings-font-family:Nunito;
$enable-rounded: true;
$theme-colors: (
  "primary": #EF476F,
  "danger": #EF476F
);

@import "bootstrap";

body {
  background-color: #F7FCFF;
  padding-top: 66px;
}

#main-nav-bar, #main-nav-bar-transparent {
  #main-logo {
    height: 32px;
    margin: 4px 0;
  }
}

#navbarSupportedContent .navbar-nav {
  text-align: right;
}

.welcome-messages-container {
  background-color: #26547C;
}

nav {
  .container {
    padding-top: 0;
  }
}

.jumbotron {
  color: #FFF;
  border-radius: 0;
  padding-top: 3em;
  background: image-url('hero.jpg') no-repeat center -200px;
  background-size: cover;
  background-color: #26547C;
  background-attachment: fixed, fixed;

  .hero-left {
    padding: 5em 2em 4em;

    .display-4 {
      font-weight: 700;
      font-size: 3em;
      letter-spacing: 1px;
      padding-bottom: 0;
    }
  }

  a.btn {
    font-weight: bold;
    border-radius: 3em;
  }

  .carousel-container {
    padding-top: 1.5em;
  }
}

.welcome-section {
  .container {
    padding-top: 0em;
  }

  h2 {
    padding: .6em;
    font-weight: bold;
    color: #26547C;
  }
}

@include media-breakpoint-down(sm) {
  .jumbotron {
    background-position: center top;
  }
}


#main-nav-bar {
  background-color: #26547C;
  padding: 0.8em;
  transition: 0.4s;
  //border-bottom: 1px solid #303B45;

  .navbar-brand {
    font-weight: bold;
    color: #FFF;
    font-size: 1.4em;
    height: 40px;
  }

  .navbar-collapse {
    ul.navbar-nav {
      .nav-item {
        a {
          font-weight: bold;
          color: #FFF;
        }
        a:hover {
          color: #EF476F;
        }
      }
    }
  }
}

.card.course-card {
  border: .075rem solid #EFEFEF;
  border-radius: .375rem;
  //box-shadow: 0 0.075rem 0.125rem 0 rgba(0,0,0,.075);
  transition: .5s;

  .card-header {
    font-family: Nunito;
    color: #444;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0.5em 1em;
    border: none;
  }

  .card-body {
    padding: 1em 1.2em;

    p.card-text {
      padding: none;
      font-size: 11pt;
      color: #666;
    }
  }

  .card-footer {
    background: none;
    border: none;
  }

}

.card.course-card:hover {
  transform: translate3d(0px, -2px, 0px);
  transition: .5s;
}

.course-card-row {
  padding-top: 1em;
}

@include media-breakpoint-between(xs, m) {
  .col-sm-3, .col-md-3, .col-lg-3 {
    padding-bottom: 10px;
  }
  .course-card-row {
    padding-top: 0;
  }
}

/* .svg-wrapper {
  #svg-chart, #svg-academic, #svg-tablet {
    width: 6em;
    stroke: #26547C;
  }
} */

.icon-bar {
	width: 22px;
	height: 2px;
	background-color: #FFF;
	display: block;
	transition: all 0.2s;
	margin-top: 4px
}

.navbar-toggler {
  border: none;
  background: transparent !important;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

.grey-header {
  background: #EBEFF3;
  padding: 1.5em 2em;
  color: #26547C;

  h4 {
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
}

.login-header h4 {
  font-weight: bold;
  color: #26547C;
  margin-bottom: 1em;
}

/* Course show below */

.course-show {
  padding-top: 30px;

  .list-group {
    .station-header {
      transition: all 500ms cubic-bezier(0.55, 0, 0.1, 1);
    }

    .station-header:hover {
      background: #EBEFF3;
      transition: all 500ms cubic-bezier(0.55, 0, 0.1, 1);
    }

    .list-group-item {
      border: 1px solid #EBEFF3;
      font-size: 14pt;
      padding: 0.6em 1.4em;
      a {
        color: #5F6062;
      }
    }
    .station-category-header {
      background: #33484E;
      color: #FFF;
      border: none;
      padding: 0.6em 1em;
    }
  }
}

.course-tags {
  font-size: 1.4em;
  .badge-warning {
    background: #26547C;
    color: #FFF;
  }
}

.admin {
  .btn {
    width: 100%;
  }
}
/* /Course show */

/* Scenario show below */
#scenario-accordion {
  #scenario-card {
    border-top: 1px solid #EBEFF3;
    border-bottom: 1px solid #EBEFF3;
    background: #FFF;
    color: #26547C;
    font-size: 0.8em;

    .card-header {
      background: #33484E;
      color: #FFF;
      padding: 0.6em 1em;
      font-size: 14pt;
      border: none;
    }
    .card-body {
      padding: 1.4em;
      font-size: 14pt;
    }
  }

    .card {
      border: 1px solid #EBEFF3;
      border-top: none;

      .card-header {
      padding: 0.5em;
      color: #26547C;
      background: #FFF;
      border-bottom: none;

      .btn {
        font-size: 12pt;
        }
      }

      .card-body {
        padding: 1.4em;
        color: #5F6062;

        p {
          margin: 0;
        }
      }
    }
}
/* /Scenario */

.back-next {
  margin-bottom: -10px;
  margin-top: 5px;
}

.alert {
  border: none;
  border-radius: none;
  margin-bottom: -20px;
  margin-top: 16px;
}

.login-header {
  padding-top: 2em;
}

.login-form {
  padding: 1.5em 2em .5em;
  background: #FFF;
  border: 1px solid #EBEFF3;
  border-radius: .5em;
}

.btn-rounded {
  border-radius: 3em;
}

.course-status-container {

  .custom-switch {
    margin: 0;
  }

  .course-status-label {
    font-size: 14px;
    margin: 0 auto;
    color: #AAA;
  }
}

footer {
  margin: 2em auto;
  .container {
    .footer-link {
      padding: 0 10px;
      font-weight: bold;
    }

    .footer-link-left {
      padding: 0 10px 0 20px;
      font-weight: bold;
    }
  }
}

// station progress toggle start:

.label {
  margin: -2px 0 4px;
}

.label__checkbox {
  display: none;
}

.label__check {
  display: inline-block;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0,0,0,0.1);
  background: white;
  vertical-align: middle;
  width: 1.3em;
  height: 1.3em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border .3s ease;

  i.icon {
    opacity: 0.2;
    font-size: .6em;
    color: transparent;
    transition: opacity .3s .1s ease;
    -webkit-text-stroke: 1px rgba(0,0,0,.5);
  }

  &:hover {
    border: 1px solid rgba(0,0,0,0.2);

  }
}

.label__checkbox:checked + .label__text .label__check {
  animation: check .5s cubic-bezier(0.895, 0.030, 0.685, 0.220) forwards;
  border: none;

  .icon {
    opacity: 1;
    color: white;
    -webkit-text-stroke: 0;
    animation: icon .3s cubic-bezier(1.000, 0.008, 0.565, 1.650) .1s 1 forwards;
  }
}

.center {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
}

@keyframes icon {
  from {
    transform: scale(0.3);
  }
  to {
    transform: scale(1)
  }
}

@keyframes check {
  10% {
    opacity: 0.1;
    background: rgba(0,0,0,0.2);
  }
  12% {
    opacity: 0.4;
    background: rgba(0,0,0,0.1);
    border-width: 0;
  }
  50% {
    background: #00d478;
    opacity: 0.6;
  }
  100% {
    background: #00d478;
    opacity: 1;
  }
}
.mark-complete {
  font-size: 12pt;
  color: #AAA;
  padding-right: 2em;
  margin-bottom: .4em;
}

//end Station progress toggle
