/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 // Custom bootstrap variables must be set or imported *before* bootstrap.
@import url(https://use.fontawesome.com/releases/v5.0.10/css/all.css);
@import url(https://fonts.googleapis.com/css?family=Lato:200,300,400,700);
$font-family-base:Lato;
@import url(https://fonts.googleapis.com/css?family=Raleway:200,300,400,700);
$headings-font-family:Raleway;
$enable-rounded: true;
$theme-colors: (
  "primary": #2E294E,
  "danger": #ff4136
);

/*
#3A405A - nice dark blue (with green primary)
*/

@import "bootstrap";

body {
  background-color: #F7FCFF;
}

.container {
  padding-top: 20px;
}

nav#main-nav-bar {
  background-color: #00b894;
}

nav#main-nav-bar .navbar-brand {
  font-weight: bold;
  color: #FFF;
}

nav#main-nav-bar #navbarSupportedContent .nav-item a {
  color: #FFF;
}

nav#main-nav-bar #navbarSupportedContent .nav-item a:active {
  color: #FFF;
}
