<footer>
  <div class="container">
    <span class="text-muted">&copy; 2019 STprep Ltd.</span>
    <span class="footer-link-left"><%= link_to 'Terms', '#' %></span>
    <span class="footer-link"><%= link_to 'Cookie Policy', '#' %></span>
    <span class="footer-link"><%= link_to 'Careers', '#' %></span>
  </div>
</footer>
